@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'DM Sans';
  text-align: center;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav__item {
  margin-right: 35px;
}

.menu-nav__item:last-child {
  margin-right: 0px;
}

.menu-nav__link {
  color: #ffffff;
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #D41443;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.menu-link__active {
  color: #D41443;
}

.btn-header {
  width: 159px;
  height: 44px;
  top: 40px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #D41443;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
  cursor: pointer;
}

.btn-header__icons {
  fill: #D41443;
  margin-left: 12px;
}

.btn-header:hover, .btn-header:focus {
  background: #ECEBEB;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.about__label {
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.about__title {
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.about__description-first-part {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
}

.about__description-second-part,
.about__description-third-part {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
}

.about__button {
  width: 176px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #d41443;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  border-radius: 22px;
  outline: transparent;
  border: transparent;
}

.section-advantages {
  background-color: #fff5f6;
}

.advantages-list__item::before {
  display: block;
  content: '';
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-list__item:nth-child(1):before {
  background-image: url(./../images/icon-advant1.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(1):before {
    background-image: url(./../images/icon-advant1@2x.png);
  }
}

.advantages-list__item:nth-child(2):before {
  background-image: url(./../images/icon-advant2.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(2):before {
    background-image: url(./../images/icon-advant2@2x.png);
  }
}

.advantages-list__item:nth-child(3):before {
  background-image: url(./../images/icon-advant3.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(3):before {
    background-image: url(./../images/icon-advant3@2x.png);
  }
}

.advantages-list__text {
  font-family: 'Titan One';
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advantages-list__description {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
    margin-left: -32px;
  }
}

.contacts__card {
  padding: 40px 32px;
  width: 100%;
  max-width: 280px;
  height: 100%;
  max-height: 412px;
  text-align: initial;
  background-color: #ffffff;
  border-radius: 24px;
  color: #907e82;
  outline: 1px dotted tomato;
}

.contacts__card:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__card {
    max-width: 224px;
    max-height: 528px;
    -ms-flex-preferred-size: calc(100% / 3 - 32px);
        flex-basis: calc(100% / 3 - 32px);
    margin-left: 32px;
  }
  .contacts__card:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card {
    padding: 40px;
    max-width: 395px;
    max-height: 538px;
  }
}

.contacts__list {
  outline: 1px dotted lime;
}

.contacts__item {
  outline: 1px dotted teal;
}

.contacts__item:not(:last-child) {
  padding-bottom: 24px;
}

.contacts__item:not(:first-child) {
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    padding-bottom: 32px;
  }
  .contacts__item:not(:first-child) {
    padding-top: 32px;
  }
}

.contacts__agency-type {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__agency-type {
    margin-bottom: 32px;
  }
}

.contacts__agency-location {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .contacts__agency-location {
    margin-bottom: 12px;
  }
}

.contacts__schedule:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .contacts__schedule:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__btn-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__btn-wrapper:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}

.contacts-button {
  min-width: 161px;
  min-height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contacts-button {
    min-width: 191px;
  }
  .contacts-button.franchise {
    min-width: 174px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-button {
    min-width: 198px;
  }
  .contacts-button.franchise {
    min-width: 180px;
  }
}

.contacts__arrow-icon {
  margin-left: 8px;
}

.contacts__arrow-icon-franchise {
  margin-left: 13px;
}

@media screen and (min-width: 768px) {
  .contacts__arrow-icon {
    margin-left: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__arrow-icon {
    margin-left: 14px;
  }
}

.container__mobile-menu {
  position: relative;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

      -ms-flex-direction: column;
          flex-direction: column;

  background: #e17992;
  width: 100vw;
  max-width: 250px;
  height: 100vh;
  z-index: 9;
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mobile-menu__item {
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: 0.04em;
  font-weight: 700;
  text-align: start;
  color: #FFFFFF;
}

.mobile-menu__item:hover, .mobile-menu__item:focus {

  color: #ffffff;
}

.men-nav__item:hover,
.men-nav__item:focus {

  color: #d41443;
}

.mobile-menu__item ::before {
  display: list-item;
  content: "";
  border-top: 1px solid #E18298;
  width: 250px;
  padding-bottom: 12px;
  margin-left: -20px;
}

.mobile__mini-btn {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  fill: #d41443;

  cursor: pointer;

  border-radius: 50%;
  z-index: 10;
}

@media screen and (min-width: 1200px) {
  .mobile__mini-btn {
    display: none;
  }
}

.mobile__mini-btn__icon {
  width: 18px;
  height: 18px;
}

.mobile__mini-btn.is-active .icon-open {
  opacity: 0;
}

.mobile__mini-btn.is-active .icon-close {
  opacity: 1;
}

.icon-open {
  width: 20px;
  height: 12px;
  opacity: 1;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.icon-close {

  width: 14px;
  height: 14px;

  fill: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}


.mobile-btn {
  color: #d41443;
  background-color: #ffffff;

  border-radius: 22px;
  outline: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: background-color 250ms var(--kubik-rubik);
  transition: background-color 250ms var(--kubik-rubik);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  padding: 12px 48px 12px 60px;
  margin-bottom: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mobile-btn:hover, .mobile-btn:focus {
  background-color: #ecebeb;
}


.mobile-btn__icon {
  margin-left: 18px;


}

.icon-arrow {
  fill: currentColor;
}

.mobile-menu__link {
  outline: transparent;
  color: currentColor;
}
/*# sourceMappingURL=main.css.map */
