@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'DM Sans';
  text-align: center;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.men__mobile {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #e17992;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  z-index: 9;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.men__mobile.is-open {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.men-nav__list {
  padding: 0;
  margin: 0;
}

.men-nav__item {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}

.men-nav__item:hover,
.men-nav__item:focus {
  color: #d41443;
}

.mob__mini-btn {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  fill: #d41443;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.mob__mini-btn__icon {
  width: 18px;
  height: 18px;
}

.mob__mini-btn.is-active .icon-open {
  opacity: 0;
}

.mob__mini-btn.is-active .icon-close {
  opacity: 1;
}

.icon-open {
  opacity: 1;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.icon-close {
  fill: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.mob-btn {
  color: #d41443;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 22px;
  font-family: inherit;
  outline: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: background-color 250ms var(--kubik-rubik);
  transition: background-color 250ms var(--kubik-rubik);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  padding: 14px 60px;
  margin-top: 26px;
  margin-bottom: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-btn:hover,
.mob-btn:focus {
  background-color: #ecebeb;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.men-nav__link {
  outline: transparent;
  color: currentColor;
}
/*# sourceMappingURL=main.css.map */
