<!--footer-->
<footer class="footer">
<container>
    <section>
<p class="footer__pretittle">homemade ice cream<br> made</p>
<p class="footer__tittle">with<br> passion</p>
<ul class="social">
    <li class="social__item"> <a href="" class="socials__link" 
        target="_blank"
            rel="noopener noreferrer nofollow">
            <svg class="socials__icon" width="32" height="32">
                <use href="/images/icons.svg#github"></use>
            </svg>
    </li>
    <li class="social__item"> <a href="" class="socials__link"
        target="_blank"
            rel="noopener noreferrer nofollow">
            <svg class="socials__icon" width="32" height="32">
                <use href="/images/icons.svg#telegram"></use>
            </svg>
        </li>
    <li class="social__item"> <a href="" class="socials__link"
        target="_blank"
            rel="noopener noreferrer nofollow">
            <svg class="socials__icon" width="32" height="32">
                <use href="/images/icons.svg#facebook"></use>
            </svg>
        </li>
</ul>
<div class="footer__thumb"><p class="footer__posttittle">Feel free to contact</p>
    <a href="tel:+610383766284" class="phone__link">+61 (0) 383 766 284</a>
</div>
<section class="rights">
<p class="rights__tittle">&#169 2019 - IceCream. <br>All Rights Reserved.</p>
</section>
</section>
</container>
</footer>