<section class="section">
  <div class="container">
    <header class="header">
      <div class="logo">
        <picture>
          <source
            srcset="/images/logo.png 1x, /images/logo@2x.png 2x"
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="/images/logo.png 1x, /images/logo@2x.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <a href="#"
            ><img class="logo" src="/images/logo.png" alt="logo" width="199" height="50"
          /></a>
        </picture>
      </div>

      <nav class="menu-nav">
        <ul class="menu-nav__menu">
          <li class="menu-nav__item">
            <a href="index.html" class="menu-nav__link menu-link__active">Home</a>
          </li>
          <li class="menu-nav__item">
            <a href="#about" class="menu-nav__link">About us</a>
          </li>
          <li class="menu-nav__item">
            <a href="#advantages" class="menu-nav__link">How it’s made?</a>
          </li>
          <li class="menu-nav__item">
            <a href="#products" class="menu-nav__link">Our products</a>
          </li>
          <li class="menu-nav__item">
            <a href="#contacts" class="menu-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn-header">
        Buy now
        <svg class="btn-header__icons" width="4" height="8">
          <use href="/images/icons.svg#arrow"></use>
        </svg>
      </button>
    </header>
  </div>
</section>
