<div class="container">
    <button aria-label="Menu" class="mob__mini-btn" data-menu-button aria-expanded="false" type="button">
        <svg class="header-btn__icon " width="18" height="18">
            <use class="icon-open" href="/images/icons.svg#arrow"></use>
            <use class="icon-close" href="/images/icons.svg#github"></use>
        </svg>
    </button>
    <div class="men__mobile" data-menu>
        <button class="btn mob-btn" type="button">Buy now</button>
        <nav class="men-nav">
            <ul class="men-nav__list">
                <li class="men-nav__item"><a href="" class="men-nav__link">Home</a></li>
                <li class="men-nav__item"><a href="" class="men-nav__link">About us</a></li>
                <li class="men-nav__item"><a href="" class="men-nav__link">How it’s made?</a></li>
                <li class="men-nav__item"><a href="" class="men-nav__link">Our products</a></li>
                <li class="men-nav__item"><a href="" class="men-nav__link">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>