<section class="section" id="products">
  <div class="container products">
    <div class="products__header">
      <span>100% natural</span>
      <h2>products</h2>
    </div>
    <div class="products__container">
      <ul class="products__list">
        <li class="products__item cream">
          <div class="products__card">
            <h3 class="products__card-header">ice cream</h3>
            <p class="products__card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products__btn">
              <svg class="products__icons" width="10" height="10">
                <use href="./images/icons.svg#arrow-right2"></use>
              </svg>
            </button>
            <p class="products__modal">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. A nisi laudantium hic quo
              reprehenderit dolorum ex dolores ducimus, quia quis sapiente est maiores voluptas fuga
              sed voluptatem illum reiciendis molestiae.
            </p>
          </div>
        </li>
        <li class="products__item coffee">
          <div class="products__card">
            <h3 class="products__card-header">ice coffee</h3>
            <p class="products__card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products__btn">
              <svg class="products__icons" width="10" height="10">
                <use href="./images/icons.svg#arrow-right2"></use>
              </svg>
            </button>
            <p class="products__modal">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. A nisi laudantium hic quo
              reprehenderit dolorum ex dolores ducimus, quia quis sapiente est maiores voluptas fuga
              sed voluptatem illum reiciendis molestiae.
            </p>
          </div>
        </li>
        <li class="products__item milkshakes">
          <div class="products__card">
            <h3 class="products__card-header">milkshakes</h3>
            <p class="products__card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products__btn">
              <svg class="products__icons" width="10" height="10">
                <use href="./images/icons.svg#arrow-right2"></use>
              </svg>
            </button>
            <p class="products__modal">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. A nisi laudantium hic quo
              reprehenderit dolorum ex dolores ducimus, quia quis sapiente est maiores voluptas fuga
              sed voluptatem illum reiciendis molestiae.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
