<section class="reviews container section">
  <h2 class="visually-hidden">reviews</h2>

  <div class="reviews__about-slick">
    <div class="single-item reviews__slick">
      <div>
        <img src="../src/images/slider-main@2x.png" alt="" width="85" height="85" />

        <div class="reviews__dsdcription">
          <svg class="reviews__img">
            <use href="../src\images\icons.svg#icon-untitled"></use>
          </svg>
          
          <p class="reviews__txt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
         
        </div>
<ol class="reviews__breadcrumb">
                <li class="reviews__item"></li>
                <li class="reviews__item"></li>
                <li class="reviews__item "></li>
              </ol>
        <p class="reviews__txt-info">Emily, Los Angeles</p>
      </div>
      <div>
        <img src="../src/images/slider-next@2x.png" alt="" width="85" height="85" />
        <div class="reviews__dsdcription">
          <svg class="reviews__img">
            <use href="../src\images\icons.svg#icon-untitled"></use>
          </svg>
          <p class="reviews__txt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          
        </div>
        <ol class="reviews__breadcrumb">
                <li class="reviews__item"></li>
                <li class="reviews__item"></li>
                <li class="reviews__item "></li>
              </ol>
        <p class="reviews__txt-info">Emily, Los Angeles</p>
      </div>
      <div>
        <img src="../src/images/slider-next2@2x-1.png" alt="" width="85" height="85" />
        <div class="reviews__dsdcription">
          <svg class="reviews__img">
            <use href="../src\images\icons.svg#icon-untitled"></use>
          </svg>
          <p class="reviews__txt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
           
        </div>
        <ol class="reviews__breadcrumb">
                <li class="reviews__item"></li>
                <li class="reviews__item"></li>
                <li class="reviews__item "></li>
              </ol>
        <p class="reviews__txt-info">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
