<section class="reviews container section">
  <h2 class="visually-hidden">reviews</h2>

  <div class="reviewsabout-slick">
    <div class="single-item reviewsslick">
      <div>
        <img src="../src/images/slider-main@2x.png" alt="" width="85" height="85" />

        <div class="reviewsdsdcription">
          <svg class="reviewsimg">
            <use href="../src\images\icons.svg#icon-untitled"></use>
          </svg>

          <p class="reviewstxt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ol class="reviewsbreadcrumb">
          <li class="reviewsitem"></li>
          <li class="reviewsitem"></li>
          <li class="reviewsitem"></li>
        </ol>
        <p class="reviewstxt-info">Emily, Los Angeles</p>
      </div>
      <div>
        <img src="../src/images/slider-next@2x.png" alt="" width="85" height="85" />
        <div class="reviewsdsdcription">
          <svg class="reviewsimg">
            <use href="../src\images\icons.svg#icon-untitled"></use>
          </svg>
          <p class="reviewstxt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ol class="reviewsbreadcrumb">
          <li class="reviewsitem"></li>
          <li class="reviewsitem"></li>
          <li class="reviewsitem"></li>
        </ol>
        <p class="reviewstxt-info">Emily, Los Angeles</p>
      </div>
      <div>
        <img src="../src/images/slider-next2@2x-1.png" alt="" width="85" height="85" />
        <div class="reviewsdsdcription">
          <svg class="reviewsimg">
            <use href="../src\images\icons.svg#icon-untitled"></use>
          </svg>
          <p class="reviewstxt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ol class="reviewsbreadcrumb">
          <li class="reviewsitem"></li>
          <li class="reviewsitem"></li>
          <li class="reviewsitem"></li>
        </ol>
        <p class="reviewstxt-info">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
