.section-advantages {
  background-color: #fff5f6;
}
.advantages-list{
@include mq(tablet){
  display: flex;
}

}

.advantages-list__item::before {
  display: block;
  content: '';
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-list__item{
  text-align: left;
  &+&{
    margin-top: 32px;
    @include mq(tablet){
    margin-top: 0;
    }
  }
}


.advantages-list__item:nth-child(1):before {
  background-image: url(./../images/icon-advant1.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(1):before {
    background-image: url(./../images/icon-advant1@2x.png);
  }
}

.advantages-list__item:nth-child(2):before {
  background-image: url(./../images/icon-advant2.png);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(2):before {
    background-image: url(./../images/icon-advant2@2x.png);
  }
}

.advantages-list__item:nth-child(3):before {
  background-image: url(./../images/icon-advant3.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(3):before {
    background-image: url(./../images/icon-advant3@2x.png);
  }
}

.advantages-list__text {
  font-family: 'Titan One';
  @include fonts(36px, 1.13);
  text-transform: uppercase;

  margin-top: 16px;
  margin-bottom: 13px;

  @include mq(tablet) {
  @include fonts(48px, 1.14);
  margin-top: 32px;
 }

  color: $accent-title-color;
  @include mq(desktop) {
    @include fonts(58px, 1.13);
    margin-top: 40px;
    margin-bottom: 16px;
  }}

.advantages-list__description {
  @include fonts(12px, 1.74, 0);
  font-weight: 700;
  color: $main-subtitle-color;
  max-width: 230px;
 


  @include mq(tablet) {
    @include fonts(14px, 1.74, 0);
    max-width: 159px;
}

  @include mq(desktop) {
    @include fonts(16px, 1.76, 0.02em);
    max-width: 288px;
  
  }
}



