.section-advantages {
  background-color: #fff5f6;
}

.advantages-list__item::before {
  display: block;
  content: '';
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-list__item:nth-child(1):before {
  background-image: url(./../images/icon-advant1.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(1):before {
    background-image: url(./../images/icon-advant1@2x.png);
  }
}

.advantages-list__item:nth-child(2):before {
  background-image: url(./../images/icon-advant2.png);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(2):before {
    background-image: url(./../images/icon-advant2@2x.png);
  }
}

.advantages-list__item:nth-child(3):before {
  background-image: url(./../images/icon-advant3.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-list__item:nth-child(3):before {
    background-image: url(./../images/icon-advant3@2x.png);
  }
}

.advantages-list__text {
  font-family: 'Titan One';
  @include fonts(36px, 1.13, 0.04em);
  text-transform: uppercase;

  @include mq(tablet-only) {
  @include fonts(48px, 1.14, 00.04em)
 }

  color: $accent-title-color;
  @include mq(desktop) {
    @include fonts(58px, 1.13, 0.04em)
  }}

.advantages-list__description {
  @include fonts(12px, 1.74, 0);
  font-weight: 700;
  color: $main-subtitle-color;


  @include mq(tablet-only) {
    @include fonts(14px, 1.74, 0)
}

  @include mq(desktop) {
    @include fonts(16px, 1.76, 0.02em)
  
  }
}



