.header-section {
  min-width: 100%;
  position: absolute;
  top: 0;
  @include mq(mobile-only) {
    padding-top: 8px;
  }
  @include mq(tablet) {
    padding-top: 32px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav {
  display: none;
  @include mq(desktop) {
    display: block;
    &__menu {
      display: flex;
    }
    &__item {
      margin-right: 35px;
    }
    &__item:last-child {
      margin-right: 0px;
    }
    &__link {
      color: $main-link-color;
    }
    &__link:hover,
    &__link:focus {
      color: $accent-link-color;
      transition: transform $timing-function, opacity $timing-function;
    }
  }
}
.menu-link__active {
  color: $accent-link-color;
}

.header-button {
  display: flex;
}

.btn-header {
  min-width: 159px;
  min-height: 44px;
  top: 40px;
  background: $ligth-mode-btn-bgc;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  color: $ligth-mode-btn;
  transition: transform $timing-function, opacity $timing-function;

  cursor: pointer;
  &__icons {
    fill: $accent-link-color;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background: $ligth-mode-btn-bgc-hover;
    transition: transform $timing-function, opacity $timing-function;
  }
}
